{% extends 'base.html' %} 

{% block head %}

{% endblock %}

{% body block %}
<div class = "content">
        <h1>Task Master</h1>
        
##Creation of table container?
        <table> 
## Creates a row within table
                <tr>   
 ##Table header         <th>Task</th> 
                        <th>Added</th>
                        <th>Actions</th>
                </tr>
        </table>

        <table> 
                <td></td>
                <td></td>
                <td>
                        <a href = "">Delete</a>
                        <br>
                        <a href = "">Update</a>
                </td>
        </table>
</div>


{% end blocl %}
